{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class = "col-sm-12 pub-all">
    <h3>Tous média suivis confondus</h3>
    <div class="propers"></div>
    <div class="commons"></div>
  </div>
</div>
<div class="container">
  {% for p in publications %}
  <div class = "col-md-6 pub-box">
    <h3><a href="{{url_for('view_publication', name=p) }}">{{ p }}</a></h3>
    <div class="propers"></div>
    <div class="commons"></div>
  </div>
  {% endfor %}
</div>
<script>
  init_fropag(function() { 
      box_publish('{{ url_for('get_top_words_for') }}');
      one_publish('{{ url_for('get_top_words_all') }}', '.pub-all', draw_double(data_to_col_chart));
    });
</script>
{% endblock %}
