{% extends "layout.html" %}
{% block body %}
<div class="container">
  {% if word %}
  <h2>Le mot {{ word }}</h2>
  <p>{{ forbidden_info }}</p>
  <div class="container">
      <div class="histo"></div>
    </div>
</div>
  {% else %}
  <p>Ce mot ne semble pas avoir déjà été rencontré dans une page d'accueil parsée.</p>
  {% endif %}
  <script>
    init_fropag(function() { 
        one_publish('{{ url_for('get_history_for_word', word = word) }}', '.histo', new ColorWheel(d3rainbow), data_to_line_chart);
      });
  </script>
{% endblock %}
