{% extends "layout.html" %}

{% block body %}
<h3>Word : {{ w.word }}</h3>
<form class="form" action="{{ url_for('update_word') }}" method="POST" role="form">
  <div class="checkbox">
    <label>
      {% if w.proper %}
      <input type="checkbox" name="proper" checked="checked">Proper</label>
      {% else %}
      <input type="checkbox" name="proper">Proper</label>
      {% endif %}
    </label>
  </div>
  <div class="checkbox">
    <label>
      {% if forbidden_all %}
      <input type="checkbox" name="forbidden_all" checked="checked">Forbidden for every publication</label>
      {% else %}
      <input type="checkbox" name="forbidden_all">Forbidden for every publication</label>
      {% endif %}
    </label>
  </div>
  This word should be forbidden for :
  <select name="forbidden_publications" multiple class="form-control">
    {% for pub in publications %}
      <option value="{{ pub.id }}" {% if pub.forbidden %} selected="selected" {% endif %}>{{ pub.name }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="word_id" value="{{ w.id }}">
  <button type="submit" class="btn btn-default">Modify</button>
</form>
{% endblock %}
